html {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  padding-right: 2rem;
}

h4 {
  padding-right: 2rem;
}

header {
  width: 100%;
  background-color: darkslategray;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}

textarea {
  resize: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

input {
  font-size: 1rem;
}

i {
  padding-right: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.25s;
}

a:hover {
  color: lightskyblue;
}

.contain {
  object-fit: contain;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.input-box {
  padding: 0.75rem 0;
  border: 2px solid black;
  margin-top: 0.5rem;
  border-radius: 3px;
  width: 100%;
}

.save-button {
  margin-top: 1rem;
}

.edit-button {
  width: 4rem;
  border: 2px solid black;
  border-radius: 3px;
  color: black;
  text-align: center;
  transition: 0.5s;
}

.edit-button:hover {
  background-color: lightskyblue;
}

.padding-bottom {
  padding-bottom: 0.75rem;
}

.flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
